<div id="twotesPage-header">
	<h1 id="Twoter-header">Twoter</h1>
	<input type="button" id="logout" value="Logout" /> 
</div>

<div class="new-twote">
	<form id="twote-form" action="#">
		<label for="twoteContentURL">New Twote:</label>
	    <input id="twoteContentURL" name="twoteContentURL" type="text" class="required">
	    <input type="submit" id="submit" value="Submit" />

	</form>
	<p id="current-user"> -{{currentUser}}</p>
</div>


<div id="twote-list">
    {{> twote-list}}
</div>

<div id = 'user-list'>
	{{>user-list}}
</div>

 