<div id="twotesPage-header">
	<h1 id="Twoter-header">Twoter</h1>
	<input type="button" id="logout" value="Logout" /> 
</div>

<div id="upload_widget">
	{{> upload_widget}}
</div>

<div class="new-twote">
	<form id="twote-form" action="#">
		<label for="twoteContentVidID">New Twote:</label>
	    <input id="twoteContentVidID" name="twoteContentVidID" type="text" class="required">
	    <input type="submit" id="submit" value="Send" />

	</form>
	<p id="current-user"> -{{currentUser}}</p>
</div>


<div id="twote-list">
    {{> twote-list}}
</div>

<div id = 'user-list'>
	{{>user-list}}
</div>

<script>  

	var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function onYouTubeIframeAPIReady(){
    	console.log("Ready to play");
    }

</script>


 