body {
	background: #D9D9F3;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

h1 {
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 5px
}

.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  display: flex;
  align-items: center;
}


.submit {
  height: 44px;
  border: none;
}

  
#login-form {
  width: 449px;
  background: #FDFCFB;
  font-family: inherit;
  color: #303030;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px;
  margin: auto;
}


#submit {
  width: 60px;
  height: 25px;
  background: #f2a4a4;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #d45d7d;
}
  

input:focus {
  outline: none;
  outline: 2px solid #E86C8D;
  box-shadow: 0 0 2px #E86C8D;
}

.new-twote {
	width: 353px;
	background: #FDFCFB;
	font-family: inherit;
	color: #303030;
	letter-spacing: 1px;
	text-indent: 5%;
	border-radius: 5px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 60px;
	height: auto;
	display: block;
	padding: 20px;
  float: left;
  margin-left: 114px;
  
}

.one-twote {
  	background: #FDFCFB;
  	font-family: inherit;
  	color: #303030;
  	letter-spacing: 1px;
  	text-indent: 5%;
  	border-radius: 5px;
  	margin: auto;
  	margin-bottom: 10px;
  	margin-top: 10px;
  	height: auto;
    width: 650px;
  	display: block;
  	padding: 20px;
    float: left;
    list-style-type: none;


}
.partial-user-list {
	display: inline-block;
	float: left;
	padding-left: 0px;
  list-style-type: none;
}

.one-user {
	list-style-type: none;
}

.username-button{
  	background: #FDFCFB;
  	font-family: inherit;
  	color: #303030;
  	letter-spacing: 1px;
  	text-indent: 5%;
  	border-radius: 5px;
  	margin: auto;
  	margin-bottom: 10px;
  	margin-top: 10px;
  	height: auto;
  	display: block;
  	padding: 20px;
  	width: 200px;
}
.username-button:hover {
	background-color: #F2F2F2;
}

#current-user {
	text-align: right;
}

#twotesPage-header {
	text-align: left;

  width: 100%;

}

#Twoter-header {
	display: inline-block;
}

#logout {
	width: 80px;
  	height: 40px;
  	background: #f2a4a4;
  	font-family: inherit;
  	font-weight: bold;
    font-size: 20px;
  	color: inherit;
  	letter-spacing: 1px;
    border-radius: 5px;
  	cursor: pointer;
  	display:inline-block;
  	float: right;

  }

#logout:hover {
  background: #d45d7d;
}

#partial-twote-list {
	display: inline-block;
	float: left;
	width: 65%;
	padding-left:20px;
}

#user-list{
	display: inline-block;
	float: right;
	width: 20%;
}

.delete {
	width: 60px;
  	height: 30px;
  	background: #f2a4a4;
  	font-family: inherit;
  	font-weight: bold;
  	color: inherit;
  	letter-spacing: 1px;
  	cursor: pointer;
  	display:inline-block;
  	float: left;
    border-radius: 5px;
    margin-top: -10px;

}

#usernameTwote {
	background: #FDFCFB;
  	font-family: inherit;
  	color: #303030;
  	letter-spacing: 1px;
  	text-indent: 5%;
  	display: block;
  	float: right;
  	width: auto;
    height: auto;
}

.highlight {
	background-color: #ADD8E6;
	font-weight: bold;
}

#fbLogin {
	margin: auto;
	width: auto;
	height: 46px;
	background: #f2a4a4;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	letter-spacing: 1px;
	cursor: pointer;
	display:inline-block;
	vertical-align: text-top;
  border-radius: 5px;
}

#upload_widget {
  top: 5px;
  position: relative;
  right: 0px;
}

#widget {
  max-width: 400px;
  max-height: 200px;
  float: right;
  padding-bottom: 30px; 
  margin-top: 390px;
  margin-right: 114px; 
  /*margin-right: 75px;*/
}



#vid_player {
  max-height: 390px;
  max-width: 640px;
  margin-left: 350px;
}

#list_item {
  list-style-type: none;
}

#twoteContentVidID {
  width: 300px;
/*  height: 50px;*/
}

.video {
  background: transparent;
  border: none;
  outline: none;
}